<!DOCTYPE html>
<html>
<head>
	<title>王楠 - 个人简历</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="王楠的个人简历,王楠的简历" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.min.css">
	<!-- 简历头部模板 -->
	<script type="text/template" id="resume_header">
		<section>
			<h1><%= data[0]['name'] %></h1>
			<h2><%= data[0]['target_job'] %></h2>
		</section>
		<ul>
			<li class="contact_iphone" title="手机">
				<i class="icon fa fa-phone-square" aria-hidden="true"></i><a href="javascript:;"><%= data[0]['phone'] %></a>
			</li>
			<li class="contact_email" title="邮箱">
				<i class="icon fa fa-envelope" aria-hidden="true"></i><a href="javascript:;"><%= data[0]['email'] %></a>
			</li>
			<li class="contact_qq" title="qq">
				<i class="icon fa fa-qq" aria-hidden="true"></i><a href="javascript:;"><%= data[0]['qq'] %></a>
			</li>
			<li class="contact_github" title="github">
				<i class="icon fa fa-github-square" aria-hidden="true"></i><a href="<%= data[0]['github'] %>"><%= data[0]['github'] %></a>
			</li>
			<li class="contact_blog" title="blog">
				<i class="icon fa fa-rss-square" aria-hidden="true"></i><a href="<%= data[0]['blog'] %>"><%= data[0]['blog'] %></a>
			</li>
		</ul>
		<div class="header_underline"></div>
	</script>
	<!-- 左边学校信息 -->
	<script type="text/template" id="university_information">
		<div class="sec-title">
			<h2>教育经历</h2>
			<div class="underline"></div>
		</div>
		<ul class="list-item">
			<li class="two-title"><h3><%= data[0]['university'] %></h3><%= data[0]['graduation'] %></li>
			<li class="indent">计算机学院 / 计算机科学与技术专业</li>
			<li class="indent">校优秀共青团干部</li>
		</ul>

	</script>
	<!-- 左边实习经历 -->
	<script type="text/template" id="exeprience">
		<div class="sec-title">
			<h2>主要项目与工作经验</h2>
			<div class="underline"></div>
		</div>
		<ul class="list">
			<% for(var i = 0;i<3;i++) { %>
				<li class="timeline-item experience-internship">
					<h3 class="experience-title">
						<span><%= data[i]['title'] %></span>
						<span>(<%= data[i]['time'] %>)</span>
					</h3>
					<ul class="list-item">
						<h3 class="position"><%= data[i]['position'] %></h3>
						<% for(var j = 0;j<data[i]['task'].length;j++){ %>
							<li><%= data[i]['task'][j] %></li>
						<% } %>
					</ul>
				</li>
			<% } %>
			<li>个人项目</li>
			<% for(var i = 3;i<6;i++) { %>
			<li class="experience-project">
				<h3 class="project-title">
					<span class="project-mark"><%= data[i]['title'] %></span>
				</h3>
				<ul class="list-item">
					<% for(var j = 0;j<data[i]['task'].length;j++){ %>
						<li><%= data[i]['task'][j] %></li>
					<% } %>
				</ul>
			</li>
		<% } %>
		</ul>
	</script>
	<!-- 右边技能清单 -->
	<script type="text/template" id="skill">
		<div class="sec-title">
			<h2>技能清单</h2>
			<div class="underline"></div>
		</div>
		<ul class="list">
			<li class="two-title"><h3><%= data[0]['title'] %></h3></li>
			<% for(var i = 0;i<data[0]['data'].length;i++){ %>
				<li class="timeline-item skill-description">
					<ul class="list-item">
						<h3 class="skill-title"><%= data[0]['data'][i]['title']%></h3>
						<% for(var j = 0;j<data[0]['data'][i]['description'].length;j++){ %>
							<li><%= data[0]['data'][i]['description'][j] %></li>
						<% } %>
					</ul>
				</li>
			<% } %>
			
			<li class="two-title"><h3><%= data[1]['title'] %></h3></li>
			<% for(var i = 0;i<data[1]['data'].length;i++){ %>
				<li class="timeline-item skill-description">
					<ul class="list-item">
						<h3 class="skill-title">
							<span><%= data[1]['data'][i]['title']%></span>
						</h3>
						<% for(var j = 0;j<data[1]['data'][i]['description'].length;j++){ %>
							<li><%= data[1]['data'][i]['description'][j] %></li>
						<% } %>
					</ul>
				</li>
			<% } %>
		</ul>
	</script>
	<!-- 简历主体div -->
	<script type="text/template" id="resume_container">
		<div class="resume_container">
			<div class="content_important">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
	</script>
</head>
<body>

<!--[if lte IE 8]><div class="ie8-wrapper">
<p class="ie8">你正在使用 IE8 或更老的古董浏览器，请点击<a href="http://www.google.cn/chrome/browser/">这里</a>升级或者换浏览器吧~</p>
</div><![endif]-->
<script src="js/app.js"></script>
</body>
</html>
